<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>


    <style>

        @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
        @import url("https://fonts.googleapis.com/css?family=Raleway");

        * {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          text-decoration: none;
          list-style: none;
          scroll-behavior: smooth;
        }
        body {font-family: var(--font);color: var(--txtclr);}
        :root {
         --font: Raleway;
         --clrblack: #1f1f1f;
         --clrwhite: #dfdfdf;
         --luxury: #246d74;
         --txtclr: #d1d1d1;
         --grad1: linear-gradient(to bottom,  #4568dc, #0ef);
         --grad2: linear-gradient(to top,  #4568dc, #0ef);
        }
        #main { 
          height: 100vh; 
          width: 100vw; 
          align-items: center;
          background: linear-gradient(to bottom,  #4568dc, #0ef);
        }


        /* BANNER */
        #banner{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #d1d1d1;
            color: #323232;
            
            border-top: 1px solid #dfdfdfa4;
            border-left: 1px solid #dfdfdfa4;

            position: absolute;
            top: 40px;
            right: 50px;

            width: 1170px;
            height: 170px;
            border-radius: 8px;

            background: #ffffff2d;
            box-shadow: 5px 5px 30px #00000052;
            backdrop-filter: blur(5px);
        }

        #banner h1{
          font-size: 65px;
          position: absolute;
          left: 50px;
        }
        #banner .b2{
          font-size: 25px;
          font-weight: 600;
          position: absolute;
          right: 50px;
          margin-top: -30px;
          letter-spacing: 2px;
        }
        #banner .b3{
          font-size: 15px;
          font-weight: 600;
          position: absolute;
          right: 50px;
          margin-top: 30px;
          letter-spacing: 2px;
        }
        /* BANNER */


        /* BLANK */
        .blank{
            /* margin-top: 55px; */
            height: 15px;
            width: 200px;
            border-radius: 8px;
            box-shadow: 5px 5px 30px #00000052;
            background: #ffffff2d;
            backdrop-filter: blur(5px);
        }
        #blank1{position: absolute;top: 40px;  left: 50px;}
        #blank2{position: absolute;top: 70px; left: 50px;}
        /* BLANK */


        /* WORKING AREA */
        #working-area{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 40px;

            position: absolute;
            top: 250px;
            left: 316px;

            /* border: 2px solid #0ef; */
        }

        #working-area .userTab{
            padding: 10px 30px;
            height: 250px;
            width: 500px;
            border-radius: 8px;
            box-shadow: 5px 5px 30px #00000052;
            background: #ffffff2d;
            backdrop-filter: blur(5px);

            border-top: 1px solid #dfdfdfa4;
            border-left: 1px solid #dfdfdfa4;
            display: flex;
            align-items: center;
            gap: 20px;
            color: #323232;
        }

        .data{
            display: flex;
            font-size: 18px;
        }
        .data span{
            font-weight: 600;
            padding-left: 5px;
        }

        .uName{
            font-size: 20px;
            position: absolute;
            top: 20px;
            left: 35px;
        }
        .uAge{
            position: absolute;
            top: 60px;
            left: 35px;
        }
        .uTest{
            font-size: 20px;
            position: absolute;
            top: 20px;
            right: 35px;
        }
        .uDate{
            font-size: 15px;
            position: absolute;
            bottom: 20px;
            right: 35px;
        }
        .uRemark{
            position: absolute;
            bottom: 50px;
            left: 35px;
        }
        .uValue{
            position: absolute;
            top: 100px;
            left: 35px;
        }
        .uMin{
            position: absolute;
            top: 140px;
            left: 35px;
        }
        .uMax{
            position: absolute;
            top: 140px;
            left: 120px;
        }



        /* EDIT BUTTON */
        .Btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 90px;
          height: 35px;
          border: none;
          padding: 0px 20px;
          background-color: #5b7be5e2;
          color: white;
          font-weight: 500;
          cursor: pointer;
          border-radius: 10px;
          box-shadow: 5px 5px 0px #4d71e6df;
          transition-duration: .3s;
          position: absolute;
          right: 30px;
          margin-top: -60px;
        }

        .svg {
          width: 13px;
          position: absolute;
          right: 0;
          margin-right: 20px;
          fill: white;
          transition-duration: .3s;
        }

        .Btn:hover {
          color: transparent;
        }

        .Btn:hover svg {
          right: 43%;
          margin: 0;
          padding: 0;
          border: none;
          transition-duration: .3s;
        }

        .Btn:active {
          transform: translate(3px , 3px);
          transition-duration: .3s;
          box-shadow: 2px 2px 0px #4568dc;
        }









        /* DELETE BUTTON */


        .button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(20, 20, 20, 0.645);
            border: none;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
            cursor: pointer;
            transition-duration: .3s;
            overflow: hidden;
            position: absolute;
            right: 30px;
            margin-top: 0px;
        }

        .svgIcon {
          width: 12px;
          transition-duration: .3s;
        }

        .svgIcon path {
          fill: white;
        }

        .button:hover {
          width: 90px;
          border-radius: 50px;
          transition-duration: .3s;
          background-color: rgba(255, 69, 69, 0.848);
          align-items: center;
        }

        .button:hover .svgIcon {
          width: 50px;
          transition-duration: .3s;
          transform: translateY(60%);
        }

        .button::before {
          position: absolute;
          top: -20px;
          content: "Delete";
          color: white;
          transition-duration: .3s;
          font-size: 2px;
        }

        .button:hover::before {
          font-size: 13px;
          opacity: 1;
          transform: translateY(30px);
          transition-duration: .3s;
        }


        #dashBtn{
          color: #323232;
          background: #d1d1d171;
          height: 30px;
          width: 60px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          text-align: center;
          padding: 5px 10px;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
        }
        #dashBtn a{
          color: #323232;
          font-weight: 600;
          letter-spacing: 1px;
        }


    </style>


</head>
<body>
    <div id="main">
        <!-- BANNER -->
        <div id="banner">
            <h1>White Labs - Dashboard</h1>
            <p class="b2"><%= user.name %></p>
            <p class="b3"><%= user.test %></p>
        </div>

        <!-- blankspace -->
        <div id="blank1" class="blank"></div>
        <div id="blank2" class="blank"></div>


        <!-- WORKING AREA -->
        <div id="working-area">

            <div class="userTab">

                <div class="uName   data"> Name : <span><%= user.name %></span></div>
                <div class="uAge    data" > Age : <span><%= user.age %></span></div>
                <div class="uTest   data"> Test : <span><%= user.test %></span></div>
                <div class="uValue  data"> Value : <span><%= user.value %></span></div>
                <div class="uMin    data"> Min : <span><%= user.min %></span></div>
                <div class="uMax    data"> Max : <span><%= user.max %></span></div>
                <div class="uRemark data"> Remarks : <span><%= user.remark %></span></div>
                <div class="uDate   data"> Date : <span><%= user.created_at.toString().split(" ").slice(0, 4).join("-") %></span></div>
  

            </div>


            <div id="dashBtn"><a href="http://localhost:8080/home/user/dashboard">Dash</a></div>



        </div>
    </div>
</body>
</html>
